<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.weidongzhang.personalindentificationui">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>

    <uses-feature android:name="android.hardware.camera.front" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.front.autofocus" android:required="false"/>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_squirrel"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".PersonalIndentificationUIActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".VedioViewActivity">
        </activity>
        <activity
            android:name=".VedioViewTestActivity"
            android:label="@string/title_activity_vedio_view_test"
            android:parentActivityName=".PersonalIndentificationUIActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.weidongzhang.personalindentificationui.PersonalIndentificationUIActivity" />
        </activity>
        <activity android:name=".ListViewTestActivity">
        </activity>
        <activity android:name=".InnerCameraViewActivity">
        </activity>
        <activity android:name=".FaceModuleActivity"></activity>
        <activity android:name=".ManageActivity"
            android:label="ManageActivity"
            android:parentActivityName=".FaceModuleActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PersonalIndentificationUIActivity" />
        </activity>

        <!--android:configChanges="keyboardHidden|orientation"-->

        <activity android:name="org.beast.facemodule.ui.AddFacialImageForUserActivity"
            android:label="AddFacialImageForUserActivity"
            android:parentActivityName=".ManageActivity"
            android:screenOrientation="landscape"></activity>

        <activity android:name=".VoiceRecognitionActivity"
            android:label="VoiceRecognitionActivity"
            android:parentActivityName=".PersonalIndentificationUIActivity"
            android:screenOrientation="landscape"></activity>


        <activity android:name=".VoiceRecognition1Activity"
            android:label="VoiceRecognition1Activity"
            android:parentActivityName=".PersonalIndentificationUIActivity"
            android:screenOrientation="landscape"></activity>

    </application>

</manifest>
